<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chefManage">
	<sql id="where-list">
		<choose>
			<when test="condition=='userId'">
				INSTR(#{userId), #{keyword}) &gt;= 1
			</when>
			<otherwise>
				INSTR(${condition}, #{keyword}) &gt;= 1
			</otherwise>
		</choose>
	</sql>
	
	<select id="dataCount" resultType="Integer" parameterType="map">
		SELECT COUNT(*) FROM member
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
			AND role = 2
		</where>
	</select>
	
	<select id="listChef" parameterType="map" resultType="com.sp.yorizori.admin.chefManage.Chef">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT userId, userPwd, userName, nickName, 
					tel, TO_CHAR(birth, 'YYYY-MM-DD') birth, 
					addr1, addr2, zip, TO_CHAR(register_date, 'YYYY-MM-DD') register_date, 
					modify_date, last_login, email, role, failure_cnt, enabled				
				FROM member 
				<where>
					<if test="keyword!=null and keyword!='' ">
						<include refid="where-list"/>
					</if>
					AND role = 2
					
				</where> 
				ORDER BY register_date DESC
			) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
	
	<select id="readChef" parameterType="String"
			resultType="com.sp.yorizori.admin.chefManage.Chef">
		SELECT userId, userPwd, userName, nickName, 
			tel, TO_CHAR(birth, 'YYYY-MM-DD') birth, 
			addr1, addr2, zip, TO_CHAR(register_date, 'YYYY-MM-DD') register_date, 
			modify_date, last_login, email, role, failure_cnt, enabled				
		FROM member
		WHERE userId = #{userId}
	</select>
	
	<update id="updateFailureCountReset" parameterType="String">
		UPDATE member SET failure_cnt = 0
		WHERE userId = #{userId}
	</update>
	
	<update id="updateChefEnabled" parameterType="map">
		UPDATE member SET enabled=#{enabled} WHERE userId=#{userId}
    </update>
    
    <insert id="insertChefState" parameterType="com.sp.yorizori.admin.chefManage.Chef">
		INSERT INTO memberState(num, userId, stateCode, memo, reg_date)
		VALUES (memberState_seq.NEXTVAL, #{userId}, #{stateCode}, #{memo}, SYSDATE)
	</insert> 
	
	<select id="listChefState" parameterType="String" 
			resultType="com.sp.yorizori.admin.chefManage.Chef">
		SELECT num, userId, stateCode, memo, reg_date
		FROM memberState 
		WHERE userId = #{userId}
		ORDER BY num DESC
	</select>
	
	<select id="readChefState" parameterType="String" 
			resultType="com.sp.yorizori.admin.chefManage.Chef">
		SELECT * FROM (
			SELECT num, userId, stateCode, memo, reg_date
			FROM memberState
			WHERE userId = #{userId}
			ORDER BY num DESC
		) WHERE ROWNUM = 1
	</select>
	
	<select id="recipeCount" resultType="Integer" parameterType="map">
		SELECT COUNT(*) FROM recipe
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<select id="followCount" resultType="Integer" parameterType="map">
		SELECT COUNT(*) FROM follow
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<select id="classCount" resultType="Integer" parameterType="map">
		SELECT COUNT(*) FROM classTable
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
</mapper>