<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="coupon">
	<select id="seq" resultType="Integer">
		SELECT event_seq.NEXTVAL FROM dual
	</select>
	
	<insert id="insertCoupon" parameterType="com.sp.yorizori.admin.coupon.Coupon">
		INSERT INTO event(eventNum, couponName, couponContent, discountPrice, createTime, expireTime, couponPhoto)
		VALUES (event_seq.NEXTVAL, #{couponName}, #{couponContent}, #{discountPrice}, #{createTime}, #{expireTime}, #{couponPhoto})
	</insert>

	<sql id="where-list">
		<choose>
			<when test="condition=='all'">
				INSTR(eventNum, #{keyword}) &gt;= 1
			</when>
			<otherwise>
				INSTR(${condition}, #{keyword}) &gt;= 1
			</otherwise>
		</choose>
	</sql>
	
	<select id="dataCount" resultType="Integer" parameterType="map">
		SELECT COUNT(*) FROM coupon
		<where>
			<if test="keyword!=null and keyword!='' ">
				<include refid="where-list"/>
			</if>
		</where>
	</select>
	
	<select id="listCoupon" parameterType="map" 
			resultType="com.sp.yorizori.admin.coupon.Coupon">
		SELECT * FROM (
			SELECT ROWNUM rnum, tb.* FROM (
				SELECT eventNum, couponName, couponContent, discountPrice, createTime, expireTime			
				FROM coupon 
				<where>
					<if test="keyword!=null and keyword!='' ">
						<include refid="where-list"/>
					</if>
				</where> 
				ORDER BY eventNum DESC
			) tb WHERE ROWNUM &lt;= #{end}
		) WHERE rnum &gt;= #{start}
	</select>
	
	<select id="readCoupon" parameterType="Integer" resultType="com.sp.yorizori.admin.coupon.Coupon">
		SELECT eventNum, couponName, couponContent, discountPrice, createTime, expireTime
		FROM coupon
		WHERE eventNum = #{eventNum}
	</select>
	
	<delete id="deleteCoupon" parameterType="Integer">
		DELETE FROM coupon WHERE eventNum = #{eventNum}
	</delete>
	
</mapper>